<div class="well sidebar-nav">
   <ul class="nav nav-list">
     <li class="nav-header">Sidebar</li>
     <li><%= link_to "New Product", "/products/new"  %></li>
     <li><%= link_to "Products List", "/products"  %></li>
   </ul>
 </div>
